
body{
    background-image: url("../images/bodybg01.png");
}

a{
 
    text-decoration: none;
    color: white;
       
}

a:focus,a:active,a:hover,a:link,a:visited{
    text-decoration:none;
    color: white;
}

.logo{
    width: 40px;
    height: auto;
    padding: 5px;
}

.navbar-brand{
    font-family: 'Cinzel', serif;
}

.nav-item{
    border-bottom: 3px solid #343a40;
}

.active{
    border-bottom: 3px solid #18c566;
}

p{
    line-height: 1.6rem;
}

footer{
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.social-m-icon i{
    font-size: 30px;
    margin: 0 8px;
}



/* Geo page styles */
.geo-container{
    background-color: #fff;
    padding: 3%;
}

#map{
    height: 300px;
    margin: 15px auto;
}

.article-img{
    float: right;
    padding: 15px;
}



/* Tour page styles */
.tour-container{
    background-color: #fff;
    padding: 3%;
}

.tourist-count{
    border: 2px solid black;
    margin: 0 auto;
    border:0;
    border-spacing: 0;
    border: 1px solid #b5f5d2;
}

.tourist-count thead{
    background-color:#18c566;
	color:#fff;
}

.tourist-count td{
    
    border: 1px solid #b5f5d2;
	border-width:1px 0 1px 0;
    padding: 10px;
  
}


/* Future page styles */
.fu-container{
    background-color: #fff;
    padding: 3%;
}


/* Credits page style */
.credits-container{
    background-color: #fff;
    padding: 3%;
    height: 90vh;
}

.credits-container a{
    text-decoration: underline;
    color: black;
    display:  block;
    line-height: 2rem;
}

@media (max-width: 768px) {

    .article-img{
        float: none;
        width: 100%;
    }

}